<div class="hidden-xs col-sm-2 nav">
	<ul class="nav flex-column">
		<li class="nav-item">
		  <a class="nav-link" href="/family/public/index/Dynimic/show_dynimic_list">动态列表</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="/family/public/index/Dynimic/show_add_dynimic">添加动态</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="/family/public/index/Member/show_member_list">成员列表</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link disabled" href="/family/public/index/Member/show_add_member">添加成员</a>
		</li>
	  </ul>
</div>
