<div class="container">
   <div class="row" >
		  <nav class="navbar navbar-default " role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#example-navbar-collapse">
						<span class="sr-only">切换导航</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">家庭理财系统</a>
				</div>
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search" style="width:78%;display:inline;">
						<button type="submit" class="btn btn-default" style="width:20%;">提交</button>
					</div>
				</form>
				<div class="collapse navbar-collapse" id="example-navbar-collapse">
					<ul class="nav navbar-nav">
                        <li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								动态 <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/family/public/index/Dynimic/show_dynimic_list">动态列表</a></li>
								<li><a href="/family/public/index/Dynimic/show_add_dynimic">添加动态</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								成员 <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/family/public/index/Member/show_member_list">成员列表</a></li>
								<li><a href="/family/public/index/Member/show_add_member">添加成员</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								统计 <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">查看动态</a></li>
								<li><a href="#">添加成员</a></li>
								<li><a href="#">删除成员</a></li>
								<li><a href="#">修改成员信息</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								其他 <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">登录</a></li>
								<li><a href="#">退出</a></li>
								<li><a href="#">注册</a></li>
								<li><a href="#">修改成员信息</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
   </div>
</div>
